.leader-card{
  display: flex;
  flex-direction: column;
  margin: 7px;
  width: 260px;
}

.langs-list-item {
  background-image: linear-gradient(#FF3322, #172A0B);
  background-repeat: no-repeat;
}

.language_button {
 margin: 12px;
}
