<span *ngIf="leader!=undefined">
  <img alt="user_img" 
    src="{{leader.user.photo}}/?s=420&cache=false"
    width=300 height=300/><br>
  Global Rank: {{leader.rank}}<br/>
  Name: {{leader.user.full_name}}<br/>
  Waka UserName: {{leader.user.username}}<br/>
  Hirable:
    <span *ngIf="leader.user.is_hireable==true">Yes</span>
    <span *ngIf="leader.user.is_hireable==false">No</span> <br/>
  <span *ngIf="leader.user.email!=undefined">
  Email: {{leader.user.email}}<br/>
  </span>
  <span *ngIf="leader.user.human_readable_website.length>0">
    WebSite: {{leader.user.human_readable_website}}
  </span>
  <h3>Languages Used</h3>
  <ul *ngFor="let language of leader.running_total.languages">
    <li>{{language.name}} - Seconds: {{language.total_seconds}}</li>
  </ul>
</span>
