<mat-card appearance="outlined" class="leader-card" *ngIf="leader!=undefined">
  <mat-card-header>
    <mat-card-title class="text">
      <button mat-mini-fab color="accent"><b>{{index+1}}</b></button><br>
      Name: {{leader.user.full_name}}
    </mat-card-title>
    <mat-card-subtitle>Global Rank: {{leader.rank}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="leader_card_holder">
    <div class="leader_image">
      <img alt="user_img" 
      src="{{leader.user.photo}}/?s=420&cache=false" width=190/>
    </div>
    <div class="leader_info text">
      Waka User Name: {{leader.user.username}}<br/>
      Available for hire:
        <span *ngIf="leader.user.is_hireable==true">Yes</span>
        <span *ngIf="leader.user.is_hireable==false">No</span><br/>
      <span *ngIf="leader.user.email!=undefined">
      Email: {{leader.user.email}}<br/>
      </span>
      <span *ngIf="leader.user.human_readable_website.length>0">
        WebSite: {{leader.user.human_readable_website}}
      </span>
      <mat-card-footer>
        <button mat-raised-button (click)="showLanguages()" class="language_button" color="primary">See Most Used Recent Languages</button>
      </mat-card-footer>
    </div>
  </mat-card-content>
</mat-card>
